{{define "example"}}
<!-- HTML formatted emails must use inline "style" properties on elements to work -->
<!DOCTYPE html>
<html lang="en">

<body
    style="display: flex;flex-direction: column;align-items: flex-start;width: 996px;height: 776px;font-family: 'Inter';font-style: normal;font-weight: 400;font-size: 16px; line-height: 24px; color: #4D565C;">
    <div style="padding: 16px 32px 16px 32px;">
        <image src="{{.LogoURL}}" height="64px" />
    </div>
    <div style="width: 996px;height: 1px;background: #DFE3E6;" />
    <div style="padding: 64px 32px 64px 32px;">
        <div style="font-weight: 700;font-size: 24px;line-height: 30px;color: #11181C;">
            New {{.ProgramName}} {{if eq "Daily" .Frequency}}Daily {{else if eq "Weekly" .Frequency}}Weekly {{else if eq
            "Monthly" .Frequency}}Monthly {{end}} Activity Report Available: {{.ReportPeriod}}
        </div>
        <br />
        <div>
            Please find attached your Processing Report for the period {{.ReportPeriod}}
        </div>

        <br />
        <div>
            This report will give you an overview about:
        </div>

        <br />
        <div style="font-weight:900;">Transactions Processed: </div>
        <div>
            All invoices accepted during the above period. These invoices will be processed for payment.
        </div>

        <br />
        <div style="font-weight:900;">Rejections: </div>
        <div>
            All transactions that failed to process. To resolve issues and re-process, you can make adjustments through
            the portal
        </div>

        <br />
        <a target="_blank" href="{{.PortalURL}}"
            style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 105px; height: 20px; background: #006ECD; border-radius: 4px; color: white; text-decoration: none;font-family: 'Inter';padding: 10px 16px;">
            View Portal
        </a>
    </div>
    <div style="width: 996px;height: 1px;background: #DFE3E6;" />
    <div
        style="display: flex;flex-direction: column;align-items: flex-start;padding: 20px 32px 20px 32px;font-family: 'Inter';font-style: normal;font-weight: 400;font-size: 14px;line-height: 20px;color: #4D565C;">
        <div style="gap: 4px;">

            <div style="font-weight: 600;color: #11181C;">
                You have received this email from {{.ProgramName}}
            </div>
            This email is intended solely for the use of the addressee and may contain information that is confidential,
            proprietary, or both. If you have received it in error, please notify the sender immediately and delete the
            email.
        </div>
        <br />
        <div style="gap: 4px;">
            <div style="font-weight: 600;color: #11181C;">
                For questions or support
            </div>
            Visit our <a href="https://docs.trevipay.app">Help Center</a> or contact us at {{.SupportEmail}}.
        </div>
    </div>

</body>

</html>
{{end}}